<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Baseet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>16</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5C67AD3A2B1699F00EB48563AE5B20376194B2E3</string>
				<key>dateExpires</key>
				<string>08/08/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C67AD3A2B1699F00EB48563AE5B20376194B2E3</string>
						<key>dateExpires</key>
						<string>08/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D3MKM2YJ85</string>
						<key>name</key>
						<string>Syed Abdul mujeeb</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C67AD3A2B1699F00EB48563AE5B20376194B2E3</string>
						<key>dateExpires</key>
						<string>08/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D3MKM2YJ85</string>
						<key>name</key>
						<string>Syed Abdul mujeeb</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C67AD3A2B1699F00EB48563AE5B20376194B2E3</string>
						<key>dateExpires</key>
						<string>08/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OTPFieldView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D3MKM2YJ85</string>
						<key>name</key>
						<string>Syed Abdul mujeeb</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C67AD3A2B1699F00EB48563AE5B20376194B2E3</string>
						<key>dateExpires</key>
						<string>08/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D3MKM2YJ85</string>
						<key>name</key>
						<string>Syed Abdul mujeeb</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C67AD3A2B1699F00EB48563AE5B20376194B2E3</string>
						<key>dateExpires</key>
						<string>08/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SASScrolletSegment.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D3MKM2YJ85</string>
						<key>name</key>
						<string>Syed Abdul mujeeb</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C67AD3A2B1699F00EB48563AE5B20376194B2E3</string>
						<key>dateExpires</key>
						<string>08/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D3MKM2YJ85</string>
						<key>name</key>
						<string>Syed Abdul mujeeb</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D3MKM2YJ85.com.Baseet.Restaurant</string>
				<key>com.apple.developer.team-identifier</key>
				<string>D3MKM2YJ85</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Baseet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>acad978f-2098-4a9c-89a9-2f6c52a10aeb</string>
				<key>dateExpires</key>
				<string>09/11/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.Baseet.Restaurant</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D3MKM2YJ85</string>
				<key>name</key>
				<string>Syed Abdul mujeeb</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1</string>
		</dict>
	</array>
</dict>
</plist>
